<template>
  <b-container fluid>
    <b-row>
      <b-col cols="12">
        <vue-particles
          color="#dedede"
          :particleOpacity= "1.0"
          :particlesNumber="30"
          shapeType="edge"
          :particleSize="3.5"
          linesColor="#dedede"
          :linesWidth="1.4"
          :lineLinked="true"    
          :lineOpacity="0.4"
          :linesDistance="400"
          :moveSpeed="3"
          :hoverEffect="true"
          hoverMode="grab"
          :clickEffect="true"
          clickMode="repulse">
        </vue-particles>
        <VueTextGlitch 
          id="glitch-name"
          text="Benson Lin"
          :height="300"
          :speed="0.8"
          highlight1="red"
          highlight2="blue"
          :steps="10"
          fill="rgba(255,255,255,0.97)"
          background="rgba(0,0,0,0)">
        </VueTextGlitch>
        <VueTextGlitch 
          id="glitch-title"
          text="I'm an iOS Developer"
          :height="300"
          :speed="0.8"
          highlight1="red"
          highlight2="blue"
          :steps="10"
          fill="rgba(255,255,255,0.97)"
          background="rgba(0,0,0,0)">
        </VueTextGlitch>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import VueTextGlitch from 'vue-text-glitch'

export default {  
  components: {
    VueTextGlitch
  },
  data() {
    return {
      name: 'Landing',
      bgImg: '.../src/assets/bgImg/bgImg@3x.png',
      url: '.../src/assets/avatar.png'
    }
  }
}
</script>

<style scoped>
  .container, .row, #particles-js {
    height: 100%;
  }
  #glitch-name {
    /* font-family: 'Press Start 2P', cursive; */
    font-family: 'Saira Stencil One', cursive;
    font-size: 10vw;
    z-index: 999;
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
  }
  #glitch-title {
    /* font-family: 'Press Start 2P', cursive; */
    font-family: 'Saira Stencil One', cursive;
    font-size: 3vw;
    z-index: 999;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 65%;
    transform: translate(-50%, -50%);
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome and Opera */
  }
  .container-fluid {
    background-size: cover;
    background-image: 
      linear-gradient(to bottom, rgba(0,0,0,0), rgba(80, 80, 122, 0.4)),
      url("https://images.unsplash.com/photo-1558188754-08d60011aa10?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80")
  }
  @media (max-width: 1140px) {
    #glitch-name {
      font-size: 46pt;
    }
    #glitch-title {
      font-size: 17pt;
    }
  }
</style>
