<template> 
  <b-container fluid class="main-frame">
    <b-row class="intro-text">
      <b-col cols="12" md="auto">
        <VueTextGlitch class="vue-glitch" text="INTRODUCTION" :steps="35" fill="#fff" background="rgba(0,0,0,0)"></VueTextGlitch>
      </b-col>
    </b-row>
    <b-row class="description-text gutter-thirty">
      <b-col cols="12" lg="6">
        <!-- <div> &emsp;&emsp;&emsp;&emsp; Hi! 我是林翌埕，來自來台中的iOS Developer，專注於學習、鑽研各種技術能力，不斷學習精進自己，有點偷懶，所以也不斷的學習各種開發工具與自動化交付流程，期望著有一天足夠強大到能夠與您一起構築夢想。</div> -->
        <div> &emsp;&emsp;&emsp;&emsp; Hi! I’m Benson. An iOS Developer from Taiwan. Focus on learning and researching develop technologies to improve my develop skill. A little lazy. So I keep learning to use some not only modern but convenience tools and keep optimizing CI/CD flow. Hope I can be one of your dream constructer one day</div>
      </b-col>
      <b-col cols="12" lg="6">
        <!-- <pre class="sub-text">
「 “創意”-只不過是融會貫通之後所得到的想法而已。」
        “Creativity is just connecting things.”
      
    – Steven Jobs, co-founder of Apple Inc.
        </pre> -->
        <pre class="sub-text">
“Creativity is just connecting things.”
      
    – Steven Jobs, co-founder of Apple Inc.
        </pre>
      </b-col>
    </b-row>
    <b-row>
      <b-col style="text-align: center;" cols="12">
        <b-img class="intro-imac d-none d-md-block" src="/static/introductioni-mac/introductioni-mac.png"
    srcset="/static/introductioni-mac/introductioni-mac@2x.png 2x,
            /static/introductioni-mac/introductioni-mac@3x.png 3x" />
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import VueTextGlitch from 'vue-text-glitch'

export default {
  components: {
    VueTextGlitch
  },
  data() {
    return {
      name: 'intro'
    }
  }
}
</script>

<style scoped>
  .fp-tableCell {
    height: 90% !important;
  }
  .main-frame {
    padding-top: 60px;
    padding-left: 375px;
    padding-right: 375px;
    height: 100%;
    width: 100%;
    background-image: 
      linear-gradient(to bottom, rgba(0,0,0,0), #000113),
      conic-gradient(from 90deg at 50% 60%, #12254a 30deg, #000113 330deg)      
  }
  .intro-imac {
    margin-top: 64px;
    width: 100%;
    overflow: hidden;
  }
  .sub-text {
    white-space: pre-wrap;
    margin-top: 29px;
    opacity: 0.7;
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  .intro-text {
    margin-top: 66px;
    font-family: "Noto Sans", "Noto Sans CJK TC", sans-serif;
    font-size: 7vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    vertical-align: bottom;
  }
  .description-text {
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 66px;
    font-family: 'Saira Semi Condensed', sans-serif;
    /* font-family: "Noto Sans", "Noto Sans CJK TC", sans-serif; */
    font-size: 17pt;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 32px ;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }
  @media (max-width: 1440px) { /* Apply these styles to 1440px width and under */
    .main-frame {
      padding-top: 60px;
      padding-left: 140px;
      padding-right: 140px;
      /* background-image: linear-gradient(to bottom, #000113, #12254a) */
    }
    .intro-imac {
      margin: 64px auto;
      width: 60%;
    }
    .description-text {
      margin-top: 48px;
    }
    .intro-text {
      margin-top: 48px;
    }
    @media (max-width: 1140px) { /* Apply these styles to 1140px width and under */
      .main-frame {
        padding: 60px 32px;
      }
      .description-text {
        margin-top: 16px;
        font-size: 17px;
      }
      .intro-text {
        margin-top: 32px;
        font-size: 10vw;
      }
      @media (max-width: 480px) { /* Apply these styles to 1140px width and under */
        .sub-text {
          margin-top: 16px;
          font-size: 16px;
        }
      }
    }
  }
</style>