<template>
  <b-container ref="bgCon" fluid>
    <b-row class="gutter-thirty">
      <b-col class="glitch" cols="12" lg="6">
        <b-img class="glitch-img" src="/static/avatar.jpg" img-alt="Skill image" fluid></b-img>
        <b-img class="glitch-img" src="/static/avatar.jpg" img-alt="Skill image" fluid></b-img>
        <b-img class="glitch-img" src="/static/avatar.jpg" img-alt="Skill image" fluid></b-img>
      </b-col>
      <b-col cols="12" lg="6">
        <b-row>
          <b-col cols="12">
            <b-col id="glitch-skill-text" cols="12">
              <VueTextGlitch text="SKILLS" :steps="35" fill="#fff" background="rgba(0,0,0,0)"></VueTextGlitch>
            </b-col>
              <!-- Ratings -->
              <b-row class="skills-text">
                <b-col cols="12" lg="9">
                  <div>・Swift, iOS App Dev</div>
                </b-col>
                <b-col class="d-none d-md-block" cols="5" lg="3">
                  <a-rate :defaultValue="4.5" allowHalf disabled />
                </b-col>

                <b-col cols="12" lg="9">
                  <div>・RxSwift, RxCocoa</div>
                </b-col>
                <b-col class="d-none d-md-block" cols="5" lg="3">
                  <a-rate :defaultValue="3.5" allowHalf disabled />
                </b-col>

                <b-col cols="12" lg="9">
                  <div>・AWS, Firebase</div>
                </b-col>
                <b-col class="d-none d-md-block" cols="5" lg="3">
                  <a-rate :defaultValue="3" allowHalf disabled />
                </b-col>

                <b-col cols="12" lg="9">
                  <div>・Git, Gitlab-CI</div>
                </b-col>
                <b-col class="d-none d-md-block" cols="5" lg="3">
                  <a-rate :defaultValue="3.5" allowHalf disabled />
                </b-col>

                <b-col cols="12" lg="9">
                  <div>・Vue.js, Bootstrap</div>
                </b-col>
                <b-col class="d-none d-md-block" cols="5" lg="3">
                  <a-rate :defaultValue="2.5" allowHalf disabled />
                </b-col>

                <b-col cols="12" lg="9">
                  <div>・ProblemsSolving</div>
                </b-col>
                <b-col class="d-none d-md-block" cols="5" lg="3">
                  <a-rate :defaultValue="4" allowHalf disabled />
                </b-col>

                <b-col cols="12" lg="9">
                  <div>・EnthusiasmToLearn</div>
                </b-col>
                <b-col class="d-none d-md-block" cols="5" lg="3">
                  <a-rate :defaultValue="5" allowHalf disabled />
                </b-col>

              </b-row>
            </b-col>
        </b-row>
      </b-col>
      <!-- <b-row class="left-bottom-corner d-none d-md-block" /> -->
    </b-row>
    
  </b-container>
</template>

<script>
import '../../style/glitch-image.css'
import VueTextGlitch from 'vue-text-glitch'
export default {
  components: {
    VueTextGlitch
  },
  mounted() {
    console.log(this.$refs)
    VANTA.NET({
      el: this.$refs.bgCon,
      color: "#1aafbc",
      points: 14,
      maxDistance: 27,
      spacing: 30,
      backgroundAlpha: 0
    })
  },
  data() {
    return {

    }
  }
}
</script>

<style scoped>
  .glitch-img, .img, .img-fluid {
    max-height: 650px;
    -webkit-clip-path: polygon(87% 0, 100% 38%, 73% 100%, 21% 80%, 18% 8%);
    clip-path: polygon(87% 0, 100% 38%, 73% 100%, 21% 80%, 18% 8%);
  }
  .glitch {
    height: 650px;
  }
  #glitch-skill-text {
    font-family: "Noto Sans", "Noto Sans CJK TC", sans-serif;
    font-size: 7vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    vertical-align: bottom;
  }
  .skills-text {
    margin-top: 64px;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 36px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #fff;
  }
  .container-fluid {
    padding-top:107px;
    padding-left: 375px;
    padding-right: 375px;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-image: 
      linear-gradient(to bottom, rgba(56, 3, 3, 0.9), rgba(80, 80, 122, 0.4)),
      url("https://images.unsplash.com/photo-1557515126-1bf9ada5cb93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=60")
  }
  @media (max-width: 1440px) { /* Apply these styles to 1440px width and under */
    .container-fluid {
      padding-left: 140px;
      padding-right: 140px;
    }
    .skills-text {
        margin-top: 32px;
      }
    @media (max-width: 1140px) { /* Apply these styles to 1140px width and under */
      .glitch,.glitch-img,  .img, .img-fluid {
        max-height: 320px;
      }
      .container-fluid {
        padding-top: 76px;
        padding-left: 32px;
        padding-right: 32px;
      }
      #glitch-skill-text {
        margin-top: 16px;
        font-size: 10vw;
        text-align: center;
      }
      .skills-text {
        margin-top: 16px;
        font-size: 24px;
      }
      @media (max-width: 480px) { /* Apply these styles to 1140px width and under */
        .glitch, .glitch-img, .img, .img-fluid {
          max-height: 200px;
        }
      }
    }
  }
</style>