<template>
  <b-container fluid>
    <b-row class="intro-text">
      <b-col cols="12" md="auto">
        <VueTextGlitch class="vue-glitch" text="EDUCATION" :steps="35" fill="#fff" background="rgba(0,0,0,0)"></VueTextGlitch>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import VueTextGlitch from 'vue-text-glitch'

export default {
  components: {
    VueTextGlitch
  }
}
</script>

<style scoped>
  .container-fluid {
    padding-top:107px;
    padding-left: 375px;
    padding-right: 375px;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-image: 
      linear-gradient(to bottom, rgba(56, 3, 3, 0.9), rgba(80, 80, 122, 0.4)),
      url("https://images.unsplash.com/photo-1557515126-1bf9ada5cb93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=60")
  }
  .intro-text {
    margin-top: 66px;
    font-family: "Noto Sans", "Noto Sans CJK TC", sans-serif;
    font-size: 7vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4b6670;
    vertical-align: bottom;
  }
  @media (max-width: 1440px) { /* Apply these styles to 1440px width and under */
    .container-fluid {
      padding-top: 60px;
      padding-left: 140px;
      padding-right: 140px;
      /* background-image: linear-gradient(to bottom, #000113, #12254a) */
    }
    .intro-text {
      margin-top: 48px;
    }
    @media (max-width: 1140px) { /* Apply these styles to 1140px width and under */
      .container-fluid {
        padding: 60px 32px;
      }
      .description-text {
        margin-top: 16px;
        font-size: 17px;
      }
      .intro-text {
        margin-top: 32px;
        font-size: 10vw;
      }
      @media (max-width: 480px) { /* Apply these styles to 1140px width and under */
        
      }
    }
  }
</style>