<template>
  <b-container fluid>
    <b-row>
      <b-col cols="12" md="auto">
        <VueTextGlitch style="z-index:100;" class="intro-text vue-glitch" text="CONTACT" :steps="35" fill="#fff" background="rgba(0,0,0,0)"></VueTextGlitch>
      </b-col>
      <b-row class="w-100" id="contact-row" align-v="center" no-gutters>
        <b-col cols="12" lg="6">
          <b-card class="name-card" fluid>
            <b-card-text id="name-card-title" class="h1">
              Benson Lin
            </b-card-text>
            <b-card-text class="h5">
              ．Phone：(+886)-963-129-368
            </b-card-text>
            <b-card-text class="h5">
              ．Email：jack45j@gmail.com
            </b-card-text>
          </b-card>
        </b-col>
        <b-col cols="12" lg="6" class="w-50">
          <b-card id="form-card">
            <b-form-group 
              label-cols="12" 
              label-cols-lg="12" 
              label-size="lg" 
              label="Your Name: "
              label-for="input-lg"
              :invalid-feedback="nameInvalidFeedback">
              <b-form-input 
                id="input-lg" 
                v-model="contactForm.name.data" 
                :state="contactForm.name.status" />
            </b-form-group>

            <b-form-group 
              label-cols="12" 
              label-cols-lg="12" 
              label-size="lg" 
              label="Yout Email: " 
              label-for="input-lg"
              :invalid-feedback="mailInvalidFeedback">
              <b-form-input 
                id="input-lg" 
                v-model="contactForm.mail.data" 
                :state="contactForm.mail.status" />
            </b-form-group>

            <b-form-group 
              label-cols="12" 
              label-cols-lg="12" 
              label-size="lg" 
              label="Content: " 
              label-for="input-lg"
              :invalid-feedback="messageInvalidFeedback">
              <b-form-textarea
                id="textarea"
                v-model="contactForm.message.data"
                placeholder="Enter something..."
                rows="5"
                max-rows="8"
                :state="contactForm.message.status" />
            </b-form-group>
            <b-button variant="danger" v-on:click="sendMessage">Submit</b-button>
            <b-alert
              :show="dismissCountDown"
              dismissible
              v-bind:variant="alert.alertStatus"
              @dismissed="dismissCountDown=0"
              @dismiss-count-down="countDownChanged"
              style="margin-top: 16px;"
            >
            {{ alert.alertMessage }}
            </b-alert>
          </b-card>
        </b-col>
      </b-row>
    </b-row>
    
    
  </b-container>
</template>

<script>
import VueTextGlitch from 'vue-text-glitch'
import axios from 'axios'

export default {
  components: {
    VueTextGlitch
  },
  data() {
    return {
      contactForm: {
        name: {
          data: '',
          status: false
        },
        mail: {
          data: '',
          status: false
        },
        message: {
          data: '',
          status: false
        },
      },
      alert: {
        alertStatus: 'success',
        alertMessage: ''
      },
      dismissSecs: 5,
      dismissCountDown: 0
    }
  },
  computed: {
    nameInvalidFeedback() {
      if (this.contactForm.name.data == '' && this.contactForm.name.data.length == 0) {
        this.contactForm.name.status = false
        return 'Please enter your lovely name.'
      } else {
        this.contactForm.name.status = true
        return ''
      }
    },
    mailInvalidFeedback() {
      if (this.contactForm.mail.data == '' && this.contactForm.mail.data.length == 0) {
        this.contactForm.mail.status = false
        return 'Please enter your E-mail.'
      } else if (!this.validateEmail(this.contactForm.mail.data)) {
        this.contactForm.mail.status = false
        return 'Please enter a valid E-mail.'
      } else {
        this.contactForm.mail.status = true
        return ''
      }
    },
    messageInvalidFeedback() {
      if (this.contactForm.message.data == '' && this.contactForm.message.data.length == 0) {
        this.contactForm.message.status = false
        return 'Please enter something'
      } else {
        this.contactForm.message.status = true
        return ''
      }
    }
  },
  methods: {
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown
    },
    showAlert(status, message) {
      this.alert.alertStatus = status
      this.alert.alertMessage = message
      this.dismissCountDown = this.dismissSecs
    },
    sendMessage() {
      if ((this.contactForm.name.status & this.contactForm.mail.status & this.contactForm.message.status) == true) {
        axios({
          method: 'post',
          url: 'https://qvbh3qxcp8.execute-api.us-east-1.amazonaws.com/prod/sendmail',
          data: {
            name: this.contactForm.name.data,
            mail: this.contactForm.mail.data,
            message: this.contactForm.message.data
          }
        })
        .then(res => {
          this.showAlert('success', 'Success!! I will mail you back asap <3')
        })
        .catch(err => {
          this.showAlert('danger', 'Oops!! Something went wrong. Please try again later.')
        });
      } else {
        this.showAlert('danger', 'Please enter your contact info and messages.')
      }
    },
    validateEmail(email) {
      var rule = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return rule.test(String(email).toLowerCase());
    }
  }
}
</script>

<style scoped>
  .container-fluid {
    padding-top:107px;
    padding-left: 375px;
    padding-right: 375px;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-image: 
      linear-gradient(to bottom, rgba(56, 3, 3, 0.9), rgba(80, 80, 122, 0.4)),
      url("https://images.unsplash.com/photo-1557515126-1bf9ada5cb93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=60")
  }
  .intro-text {
    margin-top: 66px;
    font-family: "Noto Sans", "Noto Sans CJK TC", sans-serif;
    font-size: 7vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
    vertical-align: bottom;
  }
  .name-card {
    z-index: 990;
    margin-right: -15px;
    background-color: #dcdcdc;
  }
  .name-card > .card-body {
    padding: 69px 100px;
  }
  #contact-row {
    margin-top: -120px;
  }
  #form-card {
    z-index: 50;
    margin-left: -15px;
  }
  #form-card > .card-body {
    padding:90px;
  } 

  @media (max-width: 1440px) { /* Apply these styles to 1440px width and under */
    .container-fluid {
      padding-top: 60px;
      padding-left: 140px;
      padding-right: 140px;
      /* background-image: linear-gradient(to bottom, #000113, #12254a) */
    }
    .intro-text {
      margin-top: 48px;
    }
    
    @media (max-width: 1140px) { /* Apply these styles to 1140px width and under */
      .container-fluid {
        padding: 60px 32px;
      }
      .intro-text {
        margin-top: 32px;
        font-size: 10vw;
      }
      @media (max-width: 480px) { /* Apply these styles to 1140px width and under */
        .name-card {
          margin: auto 4px;
        }
        .name-card > .card-body {
          padding: 16px 2px;
        }
        #contact-row {
          margin-top: 16px;
        }
        #form-card {
          margin-top: -4px;
          margin-left: 0px;
        }
        #form-card > .card-body {
          padding: 8px 16px;
        } 
        #name-card-title {
          display: none;
        }
        .form-group {
          margin-bottom: 0px;
        }
        .col-form-label, .col-form-label-lg {
          padding-top: 0px;
          padding-bottom: 0px;
        }
        @media (max-height: 800px) { /* Apply these styles to 1140px width and under */
          .name-card {
            display: none;
          }
          #contact-row {
            margin-top: 16px;
          }
          #form-card {
            margin-top: -4px;
            margin-left: 0px;
          }
          #form-card > .card-body {
            padding: 8px 16px;
          }
          .form-group {
            margin-bottom: 0px;
          }
          .col-form-label, .col-form-label-lg {
            padding-top: 0px;
            padding-bottom: 0px;
          }
        }
      }
    }
  }
</style>