<template>
  <b-container fluid>
    <b-row class="gutter-thirty">
      <b-navbar class="w-100" toggleable="xl" type="dark">
        <b-navbar-brand style="font-size: 24px;" href="#">Benson (In Progress)</b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>

          <!-- Right aligned nav items -->
          <b-navbar-nav class="ml-auto">
            <b-nav-item class="px-3" href="#/HOME" v-bind:active="currentIndex === 0" v-on:click="currentIndex = 0">HOME</b-nav-item>
            <b-nav-item class="px-3" href="#/INTRO" v-bind:active="currentIndex === 1" v-on:click="currentIndex = 1">INTRO</b-nav-item>
            <b-nav-item class="px-3" href="#/EXPERIENCE" v-bind:active="currentIndex === 2" v-on:click="currentIndex = 2">EXPERIENCE</b-nav-item>
            <b-nav-item class="px-3" href="#/SKILL" v-bind:active="currentIndex === 3" v-on:click="currentIndex = 3">SKILL</b-nav-item>
            <!-- <b-nav-item class="px-3" href="#/EDUCATION" v-bind:active="currentIndex === 4" v-on:click="currentIndex = 4" disabled>EDUCATION</b-nav-item>
            <b-nav-item class="px-3" href="#/COLLECTION" v-bind:active="currentIndex === 5" v-on:click="currentIndex = 5" disabled>COLLECT</b-nav-item> -->
            <b-nav-item class="px-3" href="#/CONTACT" v-bind:active="currentIndex === 6" v-on:click="currentIndex = 6">CONTACT</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
        
        <full-page class="full-page" ref="fullpage" :options="options" id="fullpage" style="max-width: 100%;" >
          <landing class="section" id="section0" />
          <intro class="section" id="section1" />
          <experience class="section" id="section2" />
          <skill class="section" id="section3" />
          <!-- <education class="section" id="section4" />
          <collection class="section" id="section5" /> -->
          <contact class="section" id="section6" />
        </full-page>
      
    </b-row>
  </b-container>
</template>

<script>
// @ is an alias to /src
import Landing from '@/components/LandingPage/index'
import Intro from '@/components/Introduction/index'
import Experience from '@/components/ExperiencePage/index'
import Skill from '@/components/SkillPage/index'
import Collection from '@/components/CollectionPage/index'
import Contact from '@/components/ContactPage/index'
import Education from '@/components/EducationPage/index'

export default {
  name: 'home',
  components: {
    Landing,
    Intro,
    Experience,
    Skill,
    Collection,
    Contact,
    Education
  },
  data() {
    return {
      currentIndex: 0,
      options: {
        licenseKey: "WlkP66D?v1",
        anchors: ['/HOME', '/INTRO', '/EXPERIENCE', '/SKILL', /*'/EDUCATION', '/COLLECTION',*/ '/CONTACT'],
        afterLoad: this.afterLoad
      }
    }
  },
  methods: {
    afterLoad(origin, destination, direction) {
      this.currentIndex = destination.index
    }
  }
}
</script>

<style>
  .ant-comment-inner {
    padding: 8px 0;
  }
  .ant-rate-star {
    margin-right: 0px;
  }
</style>

<style scoped>
  /* .full-page {
    height: 100%;
    width: 100%;
    margin: 0px;
  } */
  .navbar {
    padding-right: 375px;
    padding-left: 375px;
    height: 60px;
    position: absolute;
    z-index: 999;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  .navbar-nav > .nav-item > a:hover {
    border-bottom: rgb(161, 37, 78) 3px solid !important;
    /* background-color: rgba(50, 50, 122, 0.6) !important; */
  }
  .navbar-nav > .nav-item > .active {
    border-bottom: rgb(161, 37, 78) 3px solid !important;
  }
  
  @media (max-width: 1440px) { /* Apply these styles to 1440px width and under */
    .navbar {
      padding-right: 128px;
      padding-left: 128px;
    }
    @media (max-width: 1199px) {
      #nav-collapse {
        background-image: linear-gradient(to bottom, #000113, #12254a);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
      @media (max-width: 1140px) { /* Apply these styles to 1440px width and under */
        .navbar {
          padding-right: 32px;
          padding-left: 32px;
        }
      }
    }
  }
</style>