<template>
  <b-container fluid>
    <b-row class="intro-text">
      <b-col cols="12" class="h-100">
        <VueTextGlitch class="vue-glitch" text="EXPERIENCE" :steps="35" fill="#fff" background="rgba(0,0,0,0)"></VueTextGlitch>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <carousel :perPageCustom="[[0, 1], [1140, 2], [1680, 3]]" :scrollPerPage="false" :paginationEnabled="false">
          <slide>
            <b-card class="mx-3 h-100">
              <highlight-code lang="swift">
                let company = "Ling Tung Univ."
                let title = "iOS App consultant"
                let dateBegin = "2017-02"
                let dateEnd = "2017-07"

                // MARK - Desc
                /*  */
              </highlight-code>
            </b-card>
          </slide>

          <slide>
            <b-card class="mx-3 h-100">
              <highlight-code lang="swift">
                let company = "CurDr CO.,Ltd."
                let title = "sr. iOS App Engineer"
                let dateBegin = "2018-03"
                let dateEnd = "2019-05"

                // MARK - Desc
                /*  */
              </highlight-code>
            </b-card>
          </slide>

          <slide>
            <b-card class="mx-3 h-100">
              <highlight-code lang="swift">
                let company = "Instance CO.,Ltd."
                let title = "iOS App Engineer"
                let dateBegin = "2018-03"
                let dateEnd = "2018-08"
                
                // MARK - Desc
                /*  */
              </highlight-code>
            </b-card>
          </slide>
          
        </carousel>
      </b-col>
    </b-row>
    <b-row class="w-100 d-none d-xl-block" align-h="center">
      <a-comment class="comment-block">
        <a slot="author">Benson Lin</a>
        <a-avatar
          slot="avatar"
          src="https://scontent.ftpe8-3.fna.fbcdn.net/v/t1.0-9/12366350_1123514897666435_4391994234566638923_n.jpg?_nc_cat=106&_nc_oc=AQk2wS9cUOoeNjUAUm2XunO28s1NAdF8AJL7-2nD0pyF7Hxq4PkqgYupkROyBn21mYw&_nc_ht=scontent.ftpe8-3.fna&oh=9effac3b78301c75d83098c432f1906a&oe=5E355F32"
          alt="Han Solo"
        />
        <p slot="content">How do you think about me?</p>
        <a-comment>
          <a slot="author">Brian Chien (CTO of Instance Co.,Ltd.)</a>
          <a-avatar
            slot="avatar"
            src="https://cbchien.github.io/portfolio/img/selfsqurare.jpg"
            alt="Han Solo"
          />
          <p slot="content">Patient, friendly, good at conversation and amazing coding skills.</p>
        </a-comment>
        <a-comment>
          <a slot="author">Andy Cheng (CTO of CurDr Co.,Ltd.)</a>
          <a-avatar
            slot="avatar"
            src="https://scontent.ftpe8-2.fna.fbcdn.net/v/t1.0-1/p320x320/69451225_2596965000346536_6996647002452787200_n.jpg?_nc_cat=101&_nc_oc=AQlFzTufb_2Um3ueR7dQWza-RStHFPQV8egIafRsQSSRi6Je4bT3dMDYqF0iNBwG9Fc&_nc_ht=scontent.ftpe8-2.fna&oh=149c3c057395eec7c35545d63563d4dd&oe=5E361FDE"
            alt="Han Solo"
          />
          <p slot="content">Unlimited enthusiasm for learning. Coding skills improve at amazing spped.</p>
        </a-comment>
      </a-comment>
    </b-row>
  </b-container>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
import VueTextGlitch from 'vue-text-glitch'

export default {
  components: {
    Carousel,
    Slide,
    VueTextGlitch
  }
}
</script>

<style scoped>
  .comment-block {
    max-width: 600px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 60px auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    -webkit-clip-path: polygon(85% 0, 100% 25%, 100% 100%, 15% 100%, 0% 75%, 0 0);
    clip-path: polygon(85% 0, 100% 25%, 100% 100%, 15% 100%, 0% 75%, 0 0);
  }
  pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
  }
  .card {
    background-color: rgba(30, 32, 40, 0.85);
    border-radius: 15px;
    border: 2px white solid;
  }
  .card-body {
    padding: 8px;
  }
  .container-fluid {
    padding-top: 60px;
    padding-left: 375px;
    padding-right: 375px;
    background-size: cover;
    background-image: 
      linear-gradient(to bottom, rgba(80, 80, 122, 0.9), rgba(80, 80, 122, 0.4)),
      url("https://images.unsplash.com/photo-1555397430-57791c75748a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1600&q=60")
  }
  .intro-text {
    margin-top: 66px;
    margin-bottom: 32px;
    font-family: "Noto Sans", "Noto Sans CJK TC", sans-serif;
    font-size: 7vw;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4b6670;
    vertical-align: bottom;
  }
  @media (max-width: 1440px) { /* Apply these styles to 1440px width and under */
    .container-fluid {
      padding-top: 60px;
      padding-left: 140px;
      padding-right: 140px;
    }
    .intro-text, .comment-block {
      margin-top: 48px;
    }
    @media (max-width: 1140px) { /* Apply these styles to 1140px width and under */
      .container-fluid {
        padding-top: 60px;
        padding-left: 32px;
        padding-right: 32px;
      }
      .intro-text {
        margin-top: 32px;
        font-size: 10vw;
      }
      .comment-block {
        margin-top: 32px;
      }
    }
  }
</style>